@tailwind base;
@tailwind components;
@tailwind utilities;

/* // https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
  @apply bg-neutral-900 text-white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  @apply text-4xl;
}

/* td {
  @apply px-2;
} */

html,
body,
#root {
  @apply h-full overflow-y-hidden;
}

.btn {
  @apply font-bold py-2 px-4 rounded active:scale-95;
}

/* blue botton */
.btn-blue {
  @apply bg-blue-500 hover:bg-blue-700;
}

.btn-sm {
  @apply text-sm py-1 px-2;
}

/* transparent button */
.btn-transparent {
  @apply bg-transparent border border-blue-500  text-blue-500 hover:text-white hover:bg-blue-500 hover:border-transparent;
}

/* borderless button */
.btn-borderless {
  @apply bg-transparent text-blue-500 hover:text-white hover:bg-blue-500 hover:border-transparent;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* https://codepen.io/nohoid/pen/eYXpNL */
.rainbow {
  background: linear-gradient(
    45deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
    #ff2400
  );

  background-size: 2000% 2000%;

  animation: rainbow 1s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
